li span {
    font-weight: bold !important;
}

ul {
    list-style: none;
}

#platform {
    text-transform: capitalize;
}


.reviews {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
}