input {
    background-color: transparent;
    border: 0;
    padding: 8px;
}

input:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.MuiBox-root {
    border-radius: 25px;
    border: none !important;
}

.edit-static-content-button {
    display: inline;
}

