input {
    background-color: transparent;
    border: 0;
    padding: 8px;
}

input:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.edit-static-content-button {
    display: inline;
}

.modal-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-self: flex-end;
    width: 100%;
}