.btn.action {
    margin: 2.5px 5px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding-bottom: 10px;
}