yotpo-icon {
    cursor: pointer;
}

.entry-name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 5px 0;
    height: 30px;
}

#customGalleryIds {
    flex-flow: row wrap;
}

.entry-data {
    flex-grow: 1;
}